### Exploratory Data Analysis of the Inseration Attack DataSet

In [6]:
import pandas as pd
import numpy as np

In [3]:
df_insertion = pd.read_csv ('../../data/insertion_attacks.csv', delimiter=',')
print('# of insertion: ', len(df_insertion))

# of insertion:  196691

Explore occurrences of same wallet and same block:

In [4]:
columns = ["First Attacker", "Whale", "Second Attacker"]

for col in columns:
    occurrences = df_insertion.groupby(['Block Number', col]).size().reset_index(name='Count')
    nr_rows_with_same_address_and_block_nr = occurrences[occurrences['Count'] > 1].shape[0]
    print(f"Number of rows in {col} with same address and block number: {nr_rows_with_same_address_and_block_nr}")

Number of rows in First Attacker with same address and block number: 17
Number of rows in Whale with same address and block number: 5730
Number of rows in Second Attacker with same address and block number: 17

In [7]:
concatenated_values = np.vstack((df_insertion[['Block Number', "First Attacker"]].values,
                                df_insertion[['Block Number', "Whale"]].values,
                                df_insertion[['Block Number', "Second Attacker"]].values))

concatenated_df = pd.DataFrame(concatenated_values, columns=['Block Number', 'Address'])
concatenated_df

       Block Number                                     Address
0           5599805  0xfF1b9745f68F84F036E5e92c920038d895FB701A
1           5574870  0x4fCc2FF6c75923D33B4F5aF4C524461014B2EE1C
2           5599933  0xfF1b9745f68F84F036E5e92c920038d895FB701A
3           5625057  0xfF1b9745f68F84F036E5e92c920038d895FB701A
4           5625138  0xfF1b9745f68F84F036E5e92c920038d895FB701A
...             ...                                         ...
590068     11022873  0x18a85f755F7508f9CEe4698003a8F5D1e231AB22
590069     11022878  0x12b967bba40E3220e9697B5fdBb75BA32626E1FC
590070     11022880  0xdB9c8428e68a1E6B2244C92127D2dcD708F893f4
590071     11022881  0xe4Ec5Ba53cAEcFE979570d5396d1d2dc5e6c3BD5
590072     11022887  0x58275e42f0DDB2Ea342a1C57f4966928A66a4289

[590073 rows x 2 columns]

In [8]:
# Get unique rows
unique_df = concatenated_df.drop_duplicates()

print(f"{unique_df.shape[0]} unique blockNr-Address pairs")

473515 unique blockNr-Address pairs

In [9]:
unique_addresses = concatenated_df["Address"].unique()
print(f"{unique_addresses.shape[0]} unique addresses")

41350 unique addresses

Explore of duplicated occurrences of block number

In [10]:
occurrences= df_insertion.groupby(['Block Number']).size().reset_index(name='Count')
nr_rows_with_same_block_nr = occurrences[occurrences['Count'] > 1].shape[0]
print(f"Number of rows with same block number: {nr_rows_with_same_block_nr}")

Number of rows with same block number: 24929

In [11]:
unique_blocks = df_insertion["Block Number"].unique()
print(f"{unique_blocks.shape[0]} unique block numbers")

167503 unique block numbers